/* assets */
.ms-tile-hidden {
  background-image: url(/assets/hidden.svg);
}

.ms-tile-mine {
  background-image: url(/assets/mine.svg);
}

.ms-tile-mine-red {
  background-image: url(/assets/mine_red.svg);
}

.ms-tile-flag {
  background-image: url(/assets/flag.svg);
}

.ms-tile-flag-wrong {
  background-image: url(/assets/flag_wrong.svg);
}

.ms-tile-peaking {
  background-image: url(/assets/pressed.svg);
}

.ms-face-neutral {
  background-image: url(/assets/face_neutral.svg);
}

.ms-face-won {
  background-image: url(/assets/face_won.svg);
}

.ms-face-lost {
  background-image: url(/assets/face_lost.svg);
}

.ms-face-neutral:active,
:active > .ms-face-neutral,
.ms-face-won:active,
:active > .ms-face-won,
.ms-face-lost:active,
:active > .ms-face-lost {
  background-image: url(/assets/face_pressed.svg);
}

.ms-border-top-left {
  background-image: url(/assets/corner_up_left_2x.png);
}

.ms-border-top-right {
  background-image: url(/assets/corner_up_right_2x.png);
}

.ms-border-bottom-right {
  background-image: url(/assets/corner_bottom_right_2x.png);
}

.ms-border-bottom-left {
  background-image: url(/assets/corner_bottom_left_2x.png);
}

.ms-border-middle-left {
  background-image: url(/assets/border_middle_left_2x.png);
}

.ms-border-middle-right {
  background-image: url(/assets/border_middle_right_2x.png);
}

.ms-border-horizontal {
  background-image: url(/assets/border_hor_2x.png);
}

.ms-border-vertical {
  width: 24px;
  background-image: url(/assets/border_vert_2x.png);
}

.ms-tile-0 {
  background-image: url(/assets/type0.svg);
}
.ms-tile-1 {
  background-image: url(/assets/type1.svg);
}
.ms-tile-2 {
  background-image: url(/assets/type2.svg);
}
.ms-tile-3 {
  background-image: url(/assets/type3.svg);
}
.ms-tile-4 {
  background-image: url(/assets/type4.svg);
}
.ms-tile-5 {
  background-image: url(/assets/type5.svg);
}
.ms-tile-6 {
  background-image: url(/assets/type6.svg);
}
.ms-tile-7 {
  background-image: url(/assets/type7.svg);
}
.ms-tile-8 {
  background-image: url(/assets/type8.svg);
}

.ms-digit-0 {
  background-image: url(/assets/d0.svg);
}
.ms-digit-1 {
  background-image: url(/assets/d1.svg);
}
.ms-digit-2 {
  background-image: url(/assets/d2.svg);
}
.ms-digit-3 {
  background-image: url(/assets/d3.svg);
}
.ms-digit-4 {
  background-image: url(/assets/d4.svg);
}
.ms-digit-5 {
  background-image: url(/assets/d5.svg);
}
.ms-digit-6 {
  background-image: url(/assets/d6.svg);
}
.ms-digit-7 {
  background-image: url(/assets/d7.svg);
}
.ms-digit-8 {
  background-image: url(/assets/d8.svg);
}
.ms-digit-9 {
  background-image: url(/assets/d9.svg);
}

/* Other */

.ms-tile {
  @apply h-[28px] w-[28px] cursor-default;
  background-size: 100%;
}

.ms-digit {
  height: 34px;
  width: 18px;
  background-size: 100%;
}

.ms-face {
  width: 42px;
  height: 42px;
  background-size: 100%;
}

.ms-border-corner {
  width: 24px;
  height: 22px;
}

.ms-container {
  @apply select-none;
}

.ms-inner {
  @apply bg-black;
}

.ms-score {
  @apply flex flex-row px-1 space-x-1;
}
