@import 'variables.scss';
@import 'mixins.scss';

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0px;

  .cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    font-size: 24px;
    font-weight: bold;
    background-color: #ddd;

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
