@mixin primary {
  background-color: var(--primary-color);
  color: var(--primary-font-color); 
}

@mixin board {
  border: 0.25rem solid black;

  &[data-index='0'], &[data-index='3'], &[data-index='6'] {
    border-left: none;
  }

  &[data-index='0'], &[data-index='1'], &[data-index='2'] {
    border-top: none;
  }

  &[data-index='2'], &[data-index='5'], &[data-index='8'] {
    border-right: none;
  }

  &[data-index='6'], &[data-index='7'], &[data-index='8'] {
    border-bottom: none;
  }
}